body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 5px 20px;
}

.home {
    align-items: center;
}

.centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-card {
    padding: 12px 20px;
    gap: 20px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;

    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
}

.left-nav,
.right-nav {
    display: flex;
    gap: 16px;
}


.top-nav a {
  text-decoration: none;
  color: #005a54;
  font-weight: 600;
}

.top-nav a:hover {
  text-decoration: underline;
}